@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-2">Get to Know Joel</h1>
</div>
<br />
<div class="text-center">
<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate.jpg" height="400"/>
</a>
</div>
<br />
<br />
<div class="text-center">
    <p>
        Hey there, meet Joel – the ultimate film buff! 
        He's the guy who couldn't resist minoring in Film Studies at BYU because, 
        well, movies are his jam. You'll often find him sharing his thoughts on flicks 
        as a reviewer for ClearPlay and chatting it up about all things film and pop 
        culture on his podcast, "Baconsale." Hang out with Joel, and you're guaranteed 
        a reel good time!
    </p>
</div>
<br />
<p>Check out his credentials here!</p> <!--Button that link to Joel's websites-->
<a href="https://www.qwcomedy.com/" class="button">Quick Wits Comedy</a>
<a href="https://baconsale.com/" class="button">Baconsale</a>
