@{
    ViewData["Title"] = "Home Page";
}
<!--Alexandra Mitchell-->
<!--Section 01 -->
<!--Movie Database App for Joel Hilton-->

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<div class="text-center">
    <img src="~/img/joelhiltonheadshot.jpg" height="250"/>
</div>
