@*
    
*@
@{
}
@model Form

<div class="text-center">
    <h1 class="display-4">Movie Form</h1>
</div>
<p>Complete this form to add a movie to the database!</p>
<br />
<div> 
    <form method="post"> 
        <label asp-for ="Category">Category:</label><br />
        <input asp-for="Category" required/> <!--Input is also required in the model but it won't let someone submit unless thre is something for each otherese-->
        <br />
        <br />
        <label asp-for ="Title">Title:</label><br />
        <input asp-for="Title" required />
        <br />
        <br />
        <label asp-for="Year">Year:</label><br />
        <input asp-for="Year" required />
        <br />
        <br />
        <label asp-for="Director">Director:</label><br />
        <input asp-for="Director" required />
        <br />
        <br />
        <label asp-for="Rating">Rating:</label><br />
        <select asp-for="Rating" required>
            <option value="">Please Select</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />
        <br />
        <label asp-for="Edited">Edited?</label><br />
        <select asp-for="Edited">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
        <br />
        <br />
        <label asp-for="LentTo">Lent To:</label><br />
        <input asp-for="LentTo" />
        <br />
        <br />
        <label asp-for="Notes">Notes:</label><br />
        <input asp-for="Notes" maxlength="25" />
        <br />
        <br />
        <br />
        <button type="submit" class="button">Submit</button>
    </form>
</div>